<div class="card border-dark m-3 col-4" style="max-width: 18rem;">
  <div class="card-header text-center"><%= booking.date %></div>
    <div class="card-body text-dark">
      <h5 class="card-title mb-3"><%= booking.user.first_name %> <%= booking.user.last_name %></h5>
        <div class = "d-flex justify-content-between">
          <% if booking.status == "Pending" %>
            <%= link_to "Accept", accept_booking_path(booking), data: { turbo_method: :patch }, class: 'btn btn-success'  %>
            <%= link_to "Deny", decline_booking_path(booking), data: { turbo_method: :patch }, class: 'btn btn-danger' %>
          <% elsif booking.status == "Accepted"%>
            <p class = "btn btn-outline-success"><%= booking.status %></p>
          <% else %>
            <p class = "btn btn-outline-danger"><%= booking.status %></p>
          <% end %>
        </div>
    </div>
  </div>
