<div class="container mt-3">
  <div class="container-fluid">
  <%= form_with url: lessons_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a lesson"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>

  <div class="row m-2">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @lessons.count %> lessons out of our <%= Lesson.count %> that match your search.</p>
      <% else %>
        <p> <%= Lesson.count %> Lessons</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="col-md-4 p-3">
        <div class="lesson-card">
          <div class="lesson-card-image" style="background-image: url('<%= lesson.photo %>')"></div>
          <div class="lesson-card-content">
            <div class="lesson-card-title">
              <h3><%= lesson.title %></h3>
            </div>
            <p><%= lesson.category %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
                <span><%= lesson.description.first(10) %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= lesson.price %></span>
              </div>
            </div>
          </div>
          <div class="lesson-card-actions">
            <%= link_to "More info", lesson_path(lesson) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
