
<div class="container mt-3">
  <div class="container ms-1" style="width: 65%;">
  <%= form_with url: lessons_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Today I want to learn..."
    %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>
  </div>

  <div class="row m-2">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @lessons.count %> lessons out of our <%= Lesson.count %> that match your search.</p>
      <% else %>
        <p> <%= Lesson.count %> Lessons</p>
      <% end %>
    </div>
  </div>

<div class="container d-flex">
  <div class="row" style="width: 70%">
    <% @lessons.each do |lesson| %>
        <div class="col-6 p-3">
          <div class="card" style="width: 100%; border-radius: 10px;">
              <%= image_tag 'lesson-default.avif', alt: "Default image for #{lesson.title}" , style: "border-radius: 10px", class: "card-img-top" unless lesson.photo.attached?%>
              <%= cl_image_tag lesson.photo.key, alt: "Image for #{lesson.title}", style: "border-radius: 10px; max-height: 200px; width: 100%; object-fit: cover;", class: "card-img-top" if lesson.photo.attached?%>

            <div class="lesson-card-content p-3">
              <div class="lesson-card-title">
                <h5><%= lesson.title %></h5>
              </div>

              <div class="flex">
                <div class=" align-items-center">
                  <p><span><i class="fa-solid fa-people-line"></i> <%= lesson.user.first_name%> <%= lesson.user.last_name%></span></p>
                  <p><span class="p-1 rounded bg-secondary" style="--bs-bg-opacity: .5;"><i class="fas fa-clock mr-2"></i> <%= lesson.duration %> h</span></p>
                  <p><span class="p-1 rounded bg-secondary" style="--bs-bg-opacity: .5;"><i class="fas fa-tag mr-2"></i> <%= lesson.price %> €</span></p>
                </div>
              </div>
            </div>
            <%= link_to lesson_path(lesson), class: "btn btn-outline-dark" do %>
              More info
            <% end %>
          </div>
        </div>
        <% end %>
    </div>

    <div class="index-map ms-5 mt-3 rounded"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
  </div>
</div>
</div>
