
<div class="container mt-3">
  <div class="container-fluid">
  <%= form_with url: lessons_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a lesson"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  </div>

  <div class="row m-2">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @lessons.count %> lessons out of our <%= Lesson.count %> that match your search.</p>
      <% else %>
        <p> <%= Lesson.count %> Lessons</p>
      <% end %>
    </div>
  </div>

<div class="container d-flex">
  <div class="row" style="width: 70%">
    <% @lessons.each do |lesson| %>
        <div class="col-6 p-3">
          <div class="card" style="width: 25rem; border-radius: 10px;">
              <%= image_tag 'lesson-default.avif', alt: "Default image for #{lesson.title}" , style: "border-radius: 10px", class: "card-img-top" unless lesson.photo.attached?%>
              <%= cl_image_tag lesson.photo.key, alt: "Image for #{lesson.title}", style: "border-radius: 10px", class: "card-img-top" if lesson.photo.attached?%>

            <div class="lesson-card-content">
              <div class="lesson-card-title">
                <h5><%= lesson.title %></h5>
              </div>

              <div class="flex">
                <div class="flex align-items-center">
                  <i class="fa-solid fa-people-line"></i>
                  <span><%= lesson.user.first_name%> <%= lesson.user.last_name%></span>
                </div>
                <div class="flex align-items-center ms-3">
                  <i class="fa-solid fa-euro-sign"></i>
                  <span><%= lesson.price %></span>
                </div>
              </div>
            </div>
            <%= link_to lesson_path(lesson), class: "btn btn-outline-primary" do %>
              More info
            <% end %>
          </div>
        </div>
        <% end %>
    </div>

    <div class="index-map ms-5"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>
  </div>
</div>
</div>
