<div class= "container m-2">

  <div class= "card m-2">
    <h1><%= @lesson.title%></h1>
    <p><strong>Prof:</strong> <%= @lesson.user.first_name%> <%= @lesson.user.last_name%></p>
    <p><strong>Price per hour:</strong> <%= @lesson.price%> euros</p>
    <p><strong>Duration:</strong> <%= @lesson.duration %> hours per session</p>
    <p><strong>Total price per session:</strong> <%= @lesson.duration * @lesson.price%></p>
  </div>

  <div class= "card m-2">
  <p><strong>Book a new session here<strong></p>
  <%= render "bookings/form" %>
  </div>

</div>
